In [12]:
import pandas as pd
import numpy as np
import yfinance as yf
from datetime import datetime

In [15]:
today = datetime.now().date().strftime('%Y-%m-%d')
today
# Fetch historical data
data = yf.download('BTC-USD', start='2023-08-01', end=today)

# Use the features of interest
data = data[['Open', 'High', 'Low', 'Volume', 'Close']]

[*********************100%%**********************]  1 of 1 completed

In [16]:
data

,Open,High,Low,Volume,Close
Date,,,,,
2023-08-01,29230.873047,29675.732422,28657.023438,18272392391,29675.732422
2023-08-02,29704.146484,29987.998047,28946.509766,19212655598,29151.958984
2023-08-03,29161.812500,29375.707031,28959.488281,12780357746,29178.679688
2023-08-04,29174.382812,29302.078125,28885.335938,12036639988,29074.091797
2023-08-05,29075.388672,29102.464844,28957.796875,6598366353,29042.126953
2023-08-06,29043.701172,29160.822266,28963.833984,7269806994,29041.855469
2023-08-07,29038.513672,29244.281250,28724.140625,13618163710,29180.578125
2023-08-08,29180.019531,30176.796875,29113.814453,17570561357,29765.492188
2023-08-09,29766.695312,30093.435547,29376.800781,18379521213,29561.494141
2023-08-10,29563.972656,29688.564453,29354.447266,11865344789,29429.591797
2023-08-11,29424.902344,29517.773438,29253.517578,10195168197,29397.714844
2023-08-12,29399.787109,29465.113281,29357.587891,6194358008,29415.964844
2023-08-13,29416.593750,29441.433594,29265.806641,7329897180,29282.914062
2023-08-14,29283.263672,29660.253906,29124.105469,14013695304,29408.443359
2023-08-15,29408.048828,29439.121094,29088.853516,12640195779,29170.347656
2023-08-16,29169.074219,29221.976562,28701.779297,14949271904,28701.779297
2023-08-17,28699.802734,28745.947266,25409.111328,31120851211,26664.550781
2023-08-18,26636.078125,26808.195312,25668.921875,24026236529,26049.556641